ejemploparadtd.dtd

<!DOCTYPE ejemploparadtd
[
<!ELEMENT relacion (persona+)>
<!ELEMENT persona (nombre,email,parentesco)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT parentesco (#PCDATA)>
<!ATTLIST persona
    sexo CDATA #IMPLIED
    carnet CDATA #REQUIRED>
<!ATTLIST parentesco
    tipo CDATA #REQUIRED>
]>