Perez_Castano_Rafael_LM_U1_T3_2122/ex2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name = "books">
<xs:complexType>
<xs:sequence>
<xs:element name = "book"  maxOccurs="unbounded" minOccurs="0" >
<xs:complexType>
<xs:sequence>
<xs:element type = " xs: string" name = "title"/>
<xs:element type = " xs: string" name = "authors"/>
<xs:element type = " xs: short" name = "year"/>
<xs:element type = " xs: string" name = "from"/>
 </xs:sequence>
</xs:complexType>
</xs:element>
 </xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>