Perez_Castano_Rafael_LM_U1_T2/ej3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault ="qualified">
  <xs:element name="ej3">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="persona" type="xs:string"/>
      <xs:element name="nombre" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="parentesco" type="xs:string"/>
    </xs:sequence>  
  </xs:complexType>
  </xs:element>
</xs:schema>